.project-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-pic-class{
    width: fit-content;
    height: 200px;
    border-radius: 100px;
    opacity: 0;
    transform: translate(-150px);
}

.project-container>div>a{
    display: flex;
    justify-content: center;
}

.project-div{
    background-color: aliceblue;
    opacity: 0;
    transform: translate(50px);
    transition: 1s ease-in-out;
}

.show-project-div{
    transition: 1s ease-in-out;
    transform: translate(0px);
    opacity: 1;
}

.show-pic{
    transition: 1s ease-in-out;
    opacity: 1;
    transform: translate(0px);
  }