.project-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-container>div>a>img{
    width: fit-content;
    height: 200px;
    border-radius: 100px;
}