.project-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.project-pic-class{
    width: fit-content;
    height: 200px;
    border-radius: 100px;
    opacity: 0;
    transform: translate(-150px);
}

.project-topic{
    border-bottom: 2px solid black;
    width: 100%;
    font-family: "Kalam", cursive;
    margin-top: 10px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

.project-container>div>a{
    display: flex;
    justify-content: center;
}

.project-div{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transform: translate(50px);
    transition: 1s ease-in-out;
}

.show-project-div{
    transition: 1s ease-in-out;
    transform: translate(0px);
    opacity: 1;
}

.show-pic{
    transition: 1s ease-in-out;
    opacity: 1;
    transform: translate(0px);
  }