@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Rowdies:wght@300;400;700&display=swap");

.img-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.picture-div {
  cursor: pointer;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-40px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.picture-div:hover {
  transition: all 0.5s ease-in-out;
  background-color: #186a79;
  transform: translateY(-30px);
}

.picture-div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.img-animation {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.show-img {
  opacity: 1;
  transform: translateY(0);
}

.h1-from-abilities {
  margin: 0 auto;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.enter-class {
  opacity: 1;
  transform: translateX(0);
  margin-bottom: 10px;
}

.sand-clock {
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sand-clock i {
  color: #333;
  margin-left: 10px;
}

.fa-check {
  color: #333;
  animation-name: iconCheck;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes iconCheck {
  0% {
    color: #333;
  }
  50% {
    color: rgb(15, 233, 15);
  }
}
