.img-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.picture-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  height: 250px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: background 1s ease-in-out;
}

.picture-div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.picture-div h3 {
  margin-top: 10px;
  color: #333;
  text-align: center;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  color: #fff;
  padding: 20px;
  display: none;
  border-radius: 20px;
}

.picture-div:hover .hover-text {
  display: block;
}

.picture-div {
  transition: transform 0.5s ease-in-out;
}

.picture-div:hover {
  transform: scale(1.3);
}

.picture-div:not(:hover) {
  transform: scale(1);
}