.work-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.work-div{
    background-color: #1d1c1cce;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}