.work-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.work-div{
    background-color: #1d1c1cce;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

@media (max-width: 660px){
    .work-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
    }
   
}

@media (max-width: 350px) {
    .work-div{
        width: 200px;
        font-size: 10px;
    }
}

